{
    "plugins": [
        "security"
    ],
    "extends": [
        "plugin:security/recommended"
    ],
    "ignorePatterns": [
        "dist/**/*.js",
        "scripts/*.js",
        "coverage"
    ]
}